/* Global things */
body {
	color: #dfdfdf;
	overflow: hidden;
	background: var(--background);
	touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* General text */
h1, h2, h3, b, input {
	display: inline;
	font-family: "Lucida Console", "Courier New", monospace
}

/* These are styles for different states of components. You can make layer-specific versions with .c.locked, for example */
.locked {
	background-color: #bf8f8f;
	cursor: not-allowed;
}

.incomplete {
	background-color: #bf8f8f;
	cursor: default;
}

.bought {
	background-color: #77bf5f;
	cursor: default;
}

#points {
	color: #ffffff;
	text-shadow: 0 0 10px #ffffff;
}
