/* Tree nodes, button nodes, and side layers */
.treeNode {
	display: inline-block !important;
	position: relative;
	height: 75px !important;
	width: 75px !important;
	border: var(--hqProperty1);
	border-color: rgba(0, 0, 0, 0.3);
	border-radius: 50%;
	box-shadow: var(--hqProperty2a), var(--hqProperty2b);
	font-size: 35px;
	font-family: "Roboto Mono", monospace;
	color: rgba(0, 0, 0, 0.5);
	text-shadow: var(--hqProperty3);
	padding: 0;
	margin: 0 5px 0 5px;
}

.nodeLabel {
	font: inherit;
	font-family: inherit;
}

.treeButton {
	display: inline-block !important;
	height: 75px;
	width: 75px;
	border: var(--hqProperty1);
	border-color: rgba(0, 0, 0, 0.3);
	border-radius: 33%;
	box-shadow: var(--hqProperty2a), var(--hqProperty2b);
	font-size: 40px;
	font-family: "Lucida Console", "Courier New", monospace;
	color: rgba(0, 0, 0, 0.5);
	text-shadow: var(--hqProperty3);
	padding: 0;
}

.smallNode {
	height: 60px;
	width: 60px;
	font-size: 30px;
}

.resetNotify {
	box-shadow: var(--hqProperty2a), 0 0 8px #ffffff;
}

.treeNode.can:hover {
	transform: scale(1.15, 1.15);
	box-shadow: var(--hqProperty2a), 0 0 20px #ffffff;
}

.notify {
	transform: scale(1.05, 1.05);
	border-color: rgba(0, 0, 0, 0.125);
	box-shadow: var(--hqProperty2a), 0 0 20px #ff0000;
}



.mark {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 30px;
	z-index: 10000;
	margin-left: 0.9em;
	margin-right: 0.9em;
	margin-bottom: 1.2em;
	border-right: 0.3em solid transparent;
	border-bottom: 0.7em solid transparent;
	border-left: 0.3em solid transparent;
	font-size: 10px;
	overflow:auto;
	pointer-events: none;
}

.star {
	position: relative;
	display: inline-block;
	width: 0;
	height: 0;
	z-index: 10000;
	margin-left: 0.9em;
	margin-right: 0.9em;
	margin-bottom: 1.2em;
	border-right: 0.3em solid transparent;
	border-bottom: 0.7em solid #ffcc00;
	border-left: 0.3em solid transparent;
	font-size: 10px;
	pointer-events: none;

}

.star:before, .star:after {
	content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: .6em;
    left: -1em;
	border-right: 1em solid transparent;
    border-bottom: 0.7em solid #ffcc00;
    border-left: 1em solid transparent;
	transform: rotate(-35deg);
}

.star:after {
	transform: rotate(35deg);
}

.tabNode {
	display: inline-block !important;
	position: relative;
	height: 50px;
	width: 200px;
	border: var(--hqProperty1);
	border-color: rgba(0, 0, 0, 0.125);
	border-radius: 15px;
	box-shadow: var(--hqProperty2a), var(--hqProperty2b);
	font-size: 16px;
	font-family: "Roboto Mono", monospace;
	color: rgba(0, 0, 0, 0.9);
	text-shadow: var(--hqProperty3);
	padding: 0 12% 0 12%;
	margin: 4px 0 4px 0;
	transition: all 0s;
}

.tabNode.can:hover {
	box-shadow: var(--hqProperty2a), 0 0 20px #ffffff;
}

.tabRow {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	border-bottom: 3px solid var(--regBorder);
}

.tabTitleHolder {
	min-width: 100px;
	margin: 0px;
}

.tabTitle {
	width: 100%;
	height: 100%;
	font-size: 18px;
	display: flex;
	background: var(--tabTitle);
	border-right: 3px solid var(--regBorder);
}

.tabRowHolder {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	padding: 4px 0 4px 0;
}

.gridNode {
	display: inline-block !important;
	position: relative;
	height: 85px !important;
	width: 85px !important;
	border: var(--hqProperty1);
	border-color: rgba(0, 0, 0, 0.3);
	border-radius: 20%;
	box-shadow: var(--hqProperty2a), var(--hqProperty2b);
	font-size: 35px;
	font-family: "Roboto Mono", monospace;
	color: rgba(0, 0, 0, 0.5);
	text-shadow: var(--hqProperty3);
	padding: 0;
	margin: 0 2px 0 2px;
}

.gridNode.can:hover {
	box-shadow: var(--hqProperty2a), 0 0 20px #ffffff;
}

.gridRowHolder {
	border-bottom: 3px solid var(--regBorder);
}

.gridRow {
	margin: 6px 0px 4px 0px;
}

.gridTitleHolder {
	width: 100%;
	height: 35px;
	margin: 0px;
}

.gridTitle {
	width: 100%;
	height: 100%;
	font-size: 18px;
	display: flex;
	background: var(--tabTitle);
	border-bottom: 3px solid var(--regBorder);
}